label, input {
    display: block;
}
span.helptext {
    display: none;
}

main {
    display:flex;
}

#main-container {
    align-items: center;
}

#form-login {
    margin: auto;
    margin-top: 10%;
    width: 300px;
    text-align: center;
}

#form-register {
    margin: auto;
    margin-top: 10%;
    width: 300px;
    text-align: center;
}