label, input {
    display: block;
}
span.helptext {
    display: none;
}

main {
    display:flex;
}

#main-container {
    align-items: center;
}

.default_form {
    margin: auto;
    margin-top: 10%;
    width: 300px;
    text-align: center;
}

#p_updated_div {
    margin: auto;
    text-align: center;
    margin-top: 15%;
}